@tailwind base;
@tailwind components;
@tailwind utilities;
.prcustom {
  padding-right: 10rem;
  padding-left: 10rem;
}
.max-w-half {
  max-width: 50%;
}
.max-w-projapp {
  max-width: 65%;
}
.text-red-geg {
  color: #a60202;
}

.blue-geg {
  color: #03032B
}

.md\:hover\:text-red-geg:hover {
  --tw-text-opacity: 1;
  color: #a60202;
}
.hover\:blur-sm:hover {
  --tw-blur: blur(0.5px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.content {
  margin-top: 95px;
}
.pt-30 {
  padding-top: 6rem /* 80px */;
}
.text-green {
  color: #00a86b;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.ml-13 {
  margin-left: 3.5rem;
}
.border-b-2 {
  border-bottom-width: 2.95px;
  border-color: #000000;
}
.bg-black {
  background-color: #000000;
}
.dark\:border-black:is(.dark *) {
  --tw-border-opacity: 100%;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}
.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgba(175, 0, 0, var(--tw-bg-opacity));
}
.hover\:bg-red:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(200 0 0 / var(--tw-bg-opacity));
}
.hover\:bg-grayish:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(61, 59, 59);
}
.h-25 {
  height: 6.25rem;
}
.hovered {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
/* .router-link-active {
  --tw-bg-opacity: 100;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
} */
