@tailwind base;
@tailwind components;
@tailwind utilities;
.prcustom {
  padding-right: 10rem;
  padding-left: 10rem;
}
.max-w-half {
  max-width: 50%;
}
.max-w-projapp {
  max-width: 65%;
}
.text-red-geg {
  color: #a60202;
}
.md\:hover\:text-red-geg:hover {
  --tw-text-opacity: 1;
  color: #a60202;
}
.hover\:blur-sm:hover {
  --tw-blur: blur(0.5px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.content {
  margin-top: 95px;
}
