@tailwind base;
@tailwind components;
@tailwind utilities;
.prcustom {
  padding-right: 10rem;
  padding-left: 10rem;
}
.max-w-half {
  max-width: 50%;
}
.max-w-projapp {
  max-width: 65%;
}
.text-red-geg {
  color: #a60202;
}
.md\:hover\:text-red-geg:hover {
  --tw-text-opacity: 1;
  color: #a60202;
}
.hover\:blur-sm:hover {
  --tw-blur: blur(0.5px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.content {
  margin-top: 95px;
}
.pt-30 {
  padding-top: 6rem /* 80px */;
}
.text-green {
  color: #00a86b;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.ml-13 {
  margin-left: 3.5rem;
}
