    <nav id="nav-bg">GEG BUILDERS </nav>
    <div class="login">
        <div id="" class="form-background">
            <div id="form">
            <div>
                <div id="SignIn">Sign In </div>
                <div id="login-text">LOGIN</div>
                <div id="email-text">Email Address</div>
                <div id="password-text">Password</div>
                <div id="line1"></div>
                <div id="line2"></div>
            </div>
            <div></div>
            </div>
        </div>
    </div>

<style>

.login {
    background-color: #03032b;
    height: 100vh;
    width: 100vw;
}

#nav-bg {
    margin: auto;
    padding: 30px;
    background-color: grey;
    width: 100vw;

    text-align: center;
}

/* .login {
    width: 100%;
    height: 100%;
    position: relative;
    background: #03032b;

}

#SignIn {
    color: white;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 45px;
    word-wrap: break-word
}

.form-background {
    width: 700px;
    height: 700px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(223, 224, 242, 0.20);
    border-radius: 25px;
    backdrop-filter: blur(25px);

}

#login-text{
    left: 300px;
    top: 28px;
    position: absolute;
    color: white;
    font-size: 35px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 53px;
    word-wrap: break-word;
}
#email-text{
    left: 50px;
    top: 144px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 38px;
    word-wrap: break-word;
}
#password-text{
    left: 50px;
    top: 312px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 38px;
    word-wrap: break-word;
}

#line1 {
    width: 600px;
    height: 60px;
    left: 50px;
    top: 185px;
    position: absolute;
    border-bottom: 2px black solid;
}
#line2 {
    width: 600px;
    height: 60px;
    left: 50px;
    top: 351px;
    position: absolute;
    border-bottom: 2px black solid;
} */
</style>
